[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
pexpect = "*"
bcrypt = "*"
stormssh = "*"
molecule = "*"
molecule-docker = "*"
yamllint = "*"
ansible-lint = "*"

[dev-packages]

[requires]
python_version = "3.8"
